@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
    --header-height: 3rem;
    --font-semi: 600;

    --first-color:#c10f0f;
    --second-color: #01080c;

    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --small-font-size:0.875rem;

    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;

    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 768px){
    :root{
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
    }
  }

*::before, ::after{
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color)
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,p{
    margin: 0;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
/* Applies for all*/

.bd-grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}

.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}

.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}

.header-1{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color:black;
    box-shadow: 0 1px 4px rgba(146,161,176,.15);
}
.header-1-nav{

    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px){
    .nav-menu{
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: .5s;
    }
}

.nav-item {
    margin-bottom: var(--mb-4);
}

.nav-item a{
    position: relative;
    color: #fff;
}

.nav-item a:hover{
    position: relative;
}


/* Header*/

.nav-item a:hover::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color:var(--first-color);
}

.header-1-nav-logo{
    color: white;
}
.nav-panel{
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}
.active::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: white;
}

.show{
    right: 0;
}


/* Home*/

 .main-1-home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
}
.home-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

.home-data{
    align-self:center;
}
.home-title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}
.home-title-color{
    color: var(--first-color);
}
.home-scroll{
    align-self: flex-end;
    padding-bottom: var(--mb-4);
}
.home-scroll-link{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    color: var(--first-color);
}

.button{
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
}

/* About me */

.about-container{
row-gap: 2rem;
text-align: center;
}
.about-subtitle{
margin-bottom: var(--mb-2);
}
.about-text{
text-align: justify;
}
.about-img{
justify-self: center;
}
.about-img img{
width: 200px;
border-radius: .5rem;
}

 /* Employment history */

 .work__container {
     justify-items: center;
     row-gap: 2rem;
 }

 .work_img {
     position: relative;
     overflow: hidden;
 }

 .work_img img {
    border-radius:.5rem ;
}

.work__link{
    position:absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex ;
    justify-content: center;
    text-align: justify;
    align-items: center;
    background-color:rgba(204, 75, 44, 0.7);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.work__link a{
    margin: 10px;
}

.work_img:hover .work__link {
    bottom: 0;
}
.work__link-name{
    color: white;
}

/* Projects */




/* Skills */

.skills-container{
    row-gap: 2rem;
}
.skills-subtitle{
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}
.skills-names{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-right: var(--mb-2);
    margin-bottom: var(--mb-3);
    padding: .25rem .5rem ;
    background-color:  rgba(204, 75, 44, 0.7);
    border-radius: 0.25rem;
}
.skills-names:hover{
    background-color:var(--first-color);
    color: azure;
}
.skills-image img{
    border-radius: 0.5rem;
}

/*Footer  */

    .footer{
    background-color: var(--second-color);
    color: #fff;
    text-align: center;
    font-weight: var(--font-semi);
    padding: 2rem 0;
  }
  .footer__title{
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer__social{
    margin-bottom: var(--mb-4);
  }
  .footer__icon{
    font-size: 1.5rem;
    color: #fff;
    margin: 0 var(--mb-2)
  }


  /* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){
    body{
      margin: 0;
    }
    .section{
      padding-top: 4rem;
      padding-bottom: 3rem;
    }
    .section-title{
      margin-bottom: var(--mb-6);
    }
    .section-title::after{
      width: 80px;
      top: 3rem;
    }
  
    .header-1-nav{
      height: calc(var(--header-height) + 1rem);
    }
    .nav__list{
      display: flex;
      padding-top: 0;
    }
    .nav-item{
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav-panel{
      display: none;
    }
    .nav-link{
      color: var(--second-color);
    }
  
    .main-1-home{
      height: 100vh;
    }
    .home-data{
      align-self: flex-end;
    }
    .home-scroll{
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home-img{
      width: 400px;
      height: 400px;
      bottom: 1%;
    }
  
    .about-container, .skills-container{
      grid-template-columns: repeat(2,1fr);
      align-items: center;
      text-align: initial;
    }
    .about-img img{
      width: 300px;
    }

    .work__container{

        grid-template-columns: repeat(2,1fr);
        align-items: center;
        padding: 4rem 0;
    }

    .project__container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,1fr);
        column-gap: 2rem;
        row-gap: 2rem;
    }

    .project__container img{
        height: 300px;
        width: 500px;
    }

    .skills-image img{
        width: 400px;
      }

}

@media screen and (min-width: 1024px){
    .bd-grid{
      margin-left: auto;
      margin-right: auto;
    }
    .home-img{
      right: 10%;
    }
  }

  

